* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none !important;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}

.form-control:focus,
.form-select:focus {
  border-color: #996399;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-label {
  margin-bottom: 4px !important;
  padding: 0 9px !important;
  font-size: 14px;
}

.active {
  background-color: #996399 !important;
  border: 1px solid #996399 !important;
  color: #fff !important;
}

#landing {
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* Fonts  */
@font-face {
  font-family: Archivo;
  src: url("../Archivo/Archivo-VariableFont_wdth\,wght.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Raleway;
  src: url("../Raleway/static/Raleway-Light.ttf");
  /* font-weight: bold; */
}
@font-face {
  font-family: Noto;
  src: url("../Noto_Sans/NotoSans-Bold.ttf");
  font-weight: bold;
}

.font-archivo-bold {
  font-family: Archivo;
  font-weight: 800;
}
.font-noto-500 {
  font-family: Noto;
  font-weight: 500;
}
.font-raleway {
  font-family: Raleway;
  font-weight: 400;
}
.font-noto {
  font-family: Noto;
  font-weight: 700;
}

/* Layout  */

/* Colors */
.color-purple {
  color: #996399 !important;
}
.color-light-purple {
  color: #a38bbf;
}
.bg-purple {
  background-color: #996399 !important;
}
.border-purple {
  border-color: #996399 !important;
}

.rounded-10 {
  border-radius: 10px;
}
.rounded-16 {
  border-radius: 10px;
}

.min-vh-100 {
  min-height: 100vh;
}

.logo:hover,
.logo h4:hover {
  color: #996399 !important;
  font-size: 18px;
}

#landing .card {
  width: 24rem;
  height: 30rem;
}
#landing .sub-card {
  width: 16rem;
  z-index: 99;
}
#landing .sub-cards {
  width: 12rem;
  height: 180px !important;
  /* z-index: 99; */
}
.nav-item .nav-link p,
option {
  font-size: 18px;
}
